@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,500italic,700italic,900&subset=latin,vietnamese);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin float($float) {
  float: $float;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin translate_rotate($x, $y, $deg) {
  @include transform(translate($x, $y) rotate(#{$deg}deg));
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin bg-linear-down($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$color1), color-stop(100%,$color2));
  background: -webkit-linear-gradient(left, $color1 0%,$color2 100%);
  background: -o-linear-gradient(left, $color1 0%,$color2 100%);
  background: -ms-linear-gradient(left, $color1 0%,$color2 100%);
  background: linear-gradient(to right, $color1 0%,$color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94b80', endColorstr='#fa5759',GradientType=1 );
}

@media screen and (max-width: 1200px){

}
@media screen and (max-width: 980px){

}
@media screen and (max-width: 767px){
  .button-menu {
    float: right;
    margin: 0;
    display: block;
    .icon_menu {
      height: 33px;
      margin-top: 2px;
      position: relative;
      width: 36px;
      float: left;
      &.open {
        @include transition(all 0.5s ease 0s);
        & span {
          background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
          &:after {
            @include translate_rotate(0px, 0px, 45);
          }
          &:before {
            @include translate_rotate(0px, 0px, -45);
          }
        }
      }
      & span {
        background: none repeat scroll 0 0 #C2B59B;
        display: inline-block;
        height: 4px;
        left: 5px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 30px;
        &:after {
          background: none repeat scroll 0 0 #C2B59B;
          content: "";
          display: inline-block;
          height: 4px;
          left: 0;
          margin-top: -2px;
          position: absolute;
          top: 50%;
          @include translate_rotate(0px, -10px, 0);
          @include transition(all 0.5s ease 0s);
          width: 30px;
        }
        &:before {
          background: none repeat scroll 0 0 #C2B59B;
          content: "";
          display: inline-block;
          height: 4px;
          left: 0;
          margin-top: -2px;
          position: absolute;
          top: 50%;
          @include translate_rotate(0px, 10px, 0);
          @include transition(all 0.5s ease 0s);
          width: 30px;
        }
      }
    }
  }

  .main-menu {
    float: right;
    width: 100%;
    position: relative;
    & ul {
      position: absolute;
      right: 0;
      top: 100%;
      width: 300px;
      @include translate(100%, 0px);
      @include transition(all 0.8s ease 0s);
      z-index: 9999;
      opacity: 0;
      display: none;
      &.sub-menu {
        float: left;
        position: static;
        display: none;
      }
      &.open {
        @include translate(0, 0px);
        background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
        border: 1px solid #fff;
        display: block;
        margin: 0 0 0 5px;
        opacity: 1;
        padding: 0;
        right: 15px;
      }
      & li {
        width: 100%;
        list-style: none;
        & a {
          color: #fff;
          padding: 5px 15px;
          width: 100%;
          border: none;
          border-bottom: 1px solid #fff;
          & span {
            display: inline-block;
            margin-right: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px){


}
@media screen and (max-width: 480px){

}
@media screen and (max-width: 359px){
}
